body {
    font-size: 16px;
}

.el-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 16px;
}

.el-table th {
    text-transform: capitalize;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.el-main {
    transition: all 4s;
}

.mt10 {
    margin-top: 10px;
}

.select-language {
    max-width: 80px;
    float: right;
}